build
/datafiles
./datafiles
./test_datafiles

# IntelliJ Files
.idea
*.iml

# Mac files
.DS_Store

# Misc text files
out.txt

# Require explicit modification for logging.conf due to WARN/DEBUG
logging.conf
